.sidebar-menu-area::-webkit-scrollbar {
    width: 5px;
    display: none;
}

.sidebar-menu-area:hover::-webkit-scrollbar {
    display: none;
}
 
.sidebar-menu-area::-webkit-scrollbar-track {    
    width: 100%;
    background: #353535;
}
 
.sidebar-menu-area::-webkit-scrollbar-thumb {
    width: 100%;
    background: #858585;
}
::-webkit-scrollbar {
    width: 5px;
    display: block;
}

:hover::-webkit-scrollbar {
    display: block;
}
 
::-webkit-scrollbar-track {    
    width: 100%;
    background: #1a1a1a;
}
 
::-webkit-scrollbar-thumb {
    width: 100%;
    background: #111111;
}

.admin-area {
    margin-top: 85px;
  }
.chk-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.border-right{
    border-right: 2px solid blue;
}
.border-top{
    border-top: 4px solid blue;
}

/* datepicker style */
.datepicker {
    padding: 5px;
}

.datepicker table tr th {
    padding: 5px 5px;
}

.datepicker .day {
    padding: 5px;
}
.book-fot{
    padding: 5px 5px;
}